<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title th:text="${picture.title}">Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<h1 th:text="${picture.title}"></h1>
<p th:text="${picture.description}"></p>
<p th:text="${picture.technique}"></p>
<p th:text="${picture.width + ' x ' + picture.height}"></p>
<p th:text="${picture.artist.username}"></p>

<div>
    <div sec:authorize="hasAuthority('ARTIST')">
        <a th:href="@{/editPicture/{id}(id=${picture.id})}" class="btn btn-primary">Edit Picture</a>
        <a th:href="@{/deletePicture/{id}(id=${picture.id})}" class="btn btn-danger">Delete Picture</a>
    </div>
    <div sec:authorize="hasAuthority('CURATOR')">
        <a th:href="@{/addReview/{id}(id=${picture.id})}" class="btn btn-success">Add Review</a>
    </div>
    <div sec:authorize="hasAuthority('COLLECTIONEER')">
        <a th:href="@{/addToCollection/{id}(id=${picture.id})}" class="btn btn-info">Add to Collection</a>
        <a th:href="@{/placeBid/{id}(id=${picture.id})}" class="btn btn-warning">Place Bid</a>
    </div>
</div>
</body>
</html>
